@import url('https://fonts.googleapis.com/css2?family=Boston+Angel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

body {
    font-family: 'Boston Angel', sans-serif;
    background-color: #2b2b2b;
    color: #f4f4f9;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    align
  align-items: center;
    min-height: 100vh;
  }
  