/* Variables SCSS */
$primary-color: #8f142b;
$secondary-color: #2a2a2a;
$background-color: #2b2b2b;
$text-color: #f4f4f9;

/* Estilo global */
body {
  font-family: 'Boston Angel', sans-serif;
  background-color: $background-color;
  color: $text-color; 
  margin: 0;
  padding: 0;
}

/* Encabezado */
header {
  background-color: $secondary-color;
  text-align: center;
  padding: 20px;
}

header h1 {
  font-size: 3em;
  color: $primary-color;
}

/* Productos */
#productos ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

#productos ul li {
  background-color: $secondary-color;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s ease;
}

#productos ul li:hover {
  background-color: $primary-color;
}

// Tipografías
$font-primary: 'DM Sans', sans-serif;
$font-secondary: 'Boston Angel',
/* Variables SCSS */
$primary-color: #8f142b;
$secondary-color: #2a2a2a;
$background-color: #2b2b2b;
$text-color: #f4f4f9;

/* Estilo global */
body {
  font-family: 'Boston Angel', sans-serif;
  background-color: $background-color;
  color: $text-color;
  margin: 0;
  padding: 0;
}

/* Encabezado */
header {
  background-color: $secondary-color;
  text-align: center;
  padding: 20px;
}

header h1 {
  font-size: 3em;
  color: $primary-color;
}

/* Productos */
#productos ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

#productos ul li {
  background-color: $secondary-color;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s ease;
}

#productos ul li:hover {
  background-color: $primary-color;
}
