// Colores principales
$primary-color: #8b0000;
$secondary-color: #ffd700;
$background-color: #f5f5f5;
$text-color: #333333;

// Colores adicionales
$error-color: #ff4d4f;
$success-color: #28a745;

// Tipografías
$font-primary: 'DM Sans', sans-serif;
$font-secondary: 'Boston Angel',
